*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;


}

.contacto-body{
  background-color: #ffffff;
}






.contacto{
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #ffffff;
  color: #000000;
}

.section-contacto{
  
  padding:4em;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 5em;
  color: rgb(0, 0, 0);

}

.box{
  max-width: 600px;


}

.box > h1 {
  font-size: 5em;
}

.box > p {

  font-size: 1.2em;

}

iframe{
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
  
  height: 500px;
  width:80%;

}
iframe:hover{
  transform: scale(1.2);
  opacity: 1;
}


#fila-videos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1em;
  
}

.container-contacto{
  display: grid;
  padding: 4em;
  justify-content: center;
  grid-auto-columns: auto;
  grid-auto-rows: 1fr;
  gap: 1em;



  grid-template-areas: 
  "box-1 box-1 box-1 "
  "box-2 box-3 box-3";

}


.item-grid{
  padding: 2em;
  background-color: none;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 15px;
  font-size: 2rem;
  



}

@media (max-width:42em) {
  .container-contacto{
    
    justify-content: center;
    grid-template-areas:
    "box-1"
    "box-2"
    "box-3";
  

  }
  
}


.footer {
  position: relative;
  width: 100%;
  background: #020202;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}
.menu-icon {
  color: white;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}


.container-promociones{
  display: grid;
  justify-content: wrap;
  padding: 1em;
  justify-content: center;
  grid-auto-columns: auto;
  grid-auto-rows: 1fr;
  gap: 1em;
  



  grid-template-areas: 
  "box-1 box-1 box-1 "
  "box-2 box-2 box-2"
  "box-3 box-3 box-3";

}


.item-grid-promociones{
  padding: 1;
  background-color: none;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 15px;
  font-size: 2rem;
  gap: 1em;
  



}

@media (max-width:42em) {
  .container-contacto{
    
    justify-content: center;
    grid-template-areas:
    "box-1"
    "box-2"
    "box-3";
  

  }
  
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.card:hover {
    transform: scale(1.05);  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  
}



.item-grid-promociones {
    opacity: 0;  
    transform: translateX(-100%); 
    animation: slideInLeft 0.8s ease-out forwards;  
}


@keyframes slideInLeft {
    to {
        opacity: 1; 
        transform: translateX(0);  
    }
}

.item-grid > img {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.1s forwards; 
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


